@import "variables"

button
    font-family: "Dosis", open-sans, serif

.button
    transition: all 330ms ease

.button.button--accent-fill
    border: 1px solid $accent
    border-radius: 30px
    padding: 10px 25px
    background-color: $white

.button.button--accent-fill:hover
    background-color: $accent
    color: $white

.button.button--shadow
    box-shadow: $shadow

